.form-input{
    height: 50px;
    border-radius: 7px;
}
.double-form-input{
    width: 40px;
}
.black-btn{
    width: 100px;
    margin-left: 10px;
    border: none;
    background-color: rgb(48, 48, 48);
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding-top: 13px;
    padding-bottom: 13px;

}
.place-order{
    width: 160px;
    height: 55px;
}

