
.testomonial-section{
    padding: 10% 5% 5% 5%;
}

.tst-description{
    margin: 0px 30% 0px 30%;
}
.text-tst{
    padding: 0 20% 0 20%;
    text-align: center;
}
.person-img{
    border-radius: 50%;
    height: 80px;
}

.btn-prev,
.btn-next{
    padding: 10px;
}
.next-prev{
    padding: 20px;
    border-radius: 50%;
    color: #777777;
    background-color: rgba(59, 93, 80, 0.2);
}
.img-fluid-mod{
    border-radius: 20px;
    transition: 0.5s;
    
}
.img-fluid-mod:hover{
    opacity: 0.5;
    
}